@import "../../styles/variables.scss";
@import "./mixin.scss";
.zen-button {
  font-size: $default-font-size;
  background-color: white;
  border-color: $border-color;
  border-width: 1.5px;
  border-style: solid;
  padding: $default-vertical-padding $default-horizontal-padding;
  cursor: pointer;
  white-space: nowrap;
  // vertical-align: middle;
  border-radius: 2px;

  outline: none;
  @include iconStyle(white, $border-color);
  line-height: $default-line-height;
  letter-spacing: $default-letter-spacing;
  transition: all 150ms linear;
}
.zen-button:hover {
  color: rgba($primary-color, 0.8);
  @include iconStyle(white, rgba($primary-color, 0.8));

  border-color: rgba($primary-color, 0.8);
}
.zen-large {
  padding: $large-vertical-padding $large-horizontal-padding;
  font-size: $large-font-size;
}
.zen-small {
  padding: $small-vertical-padding $small-horizontal-padding;
  font-size: $small-font-size;
  // line-height: ;
}
.zen-block {
  display: block;
  width: 100%;
}
.zen-circle {
  border-radius: 50%;
}
.zen-round {
  border-radius: 25px;
}
.zen-primary {
  background-color: $primary-color;
  color: white;
  border-color: $primary-color;
  @include iconStyle($primary-color, white);

  &:hover {
    background-color: rgba($primary-color, 0.8);
    color: white;
    @include iconStyle(rgba($primary-color, 0.8), white);

    border-color: rgba($primary-color, 0.8);
  }
}

.zen-dashed {
  border-style: dashed;
  background: white;
}
.zen-danger {
  background-color: $danger-color;
  color: white;
  border-color: $danger-color;
  @include iconStyle($danger-color, white);

  &:hover {
    background-color: rgba($danger-color, 0.8);
    @include iconStyle(rgba($danger-color, 0.8), white);

    color: white;
    border-color: rgba($danger-color, 0.8);
  }
}

.zen-ghost {
  &.zen-primary {
    @include primaryColor();
  }
  &.zen-danger {
    @include dangerColor();
  }
  &.zen-disabled {
    @include disabledColor();
    & > .ant-loading-icon {
      border-color: $disabled-border-color;
      border-bottom-color: transparent;
    }
  }
  @include iconColor();
  background-color: transparent !important;
  @include iconTransparentBackground();
}

.zen-ghost:hover {
  background-color: transparent;
}

.zen-disabled {
  cursor: not-allowed;
  background-color: $disabled-color;
  color: $disabled-border-color;
  border-color: $disabled-border-color;
  & > .ant-loading-icon {
    border-color: $disabled-border-color;
    border-bottom-color: $disabled-color;
  }
  &:hover > .ant-loading-icon {
    border-color: $disabled-border-color;
    border-bottom-color: $disabled-color;
  }
  &:hover {
    cursor: not-allowed;
    background-color: $disabled-color;
    color: $disabled-border-color;

    border-color: $disabled-border-color;
  }
}
