$primary-color: #1993fb;
// $primary-hover-color:#41abfb;
$border-color:#bcc4ce;
$disabled-color: #f5f5f5;
$disabled-border-color: #c7ced6;
$danger-color: #d81c1f;

//button
$default-horizontal-padding: 14px;
$default-vertical-padding: 4px;
$default-font-size: 0.9rem;
$default-line-height: 1.75;
$default-letter-spacing: 0.02em;

$large-horizontal-padding: $default-horizontal-padding + 6px;
$large-vertical-padding: $default-vertical-padding + 4px;
$large-font-size:$default-font-size + 0.05rem;
$small-horizontal-padding: $default-horizontal-padding - 8px;
$small-vertical-padding: $default-vertical-padding - 2px;
$small-font-size:$default-font-size - 0.1rem;
